#buyComponentTesting{
    position:fixed;
    z-index: 999;
    width:700px;
    height:700px;
    top:calc(35% - 200px);
    left:calc(41% - 138px);
    background:beige;   
    pointer-events:all; /*but the div is accessible*/
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border:1px solid black;
    border-radius: 50px !important;
}


  
// #buyComponentTesting{

// display:inline-flex;
// align-items:center;
// justify-content:center;
// border:1px solid transparent;

// cursor:pointer;
// /*Not required for this solution*/
// }






