@import '~bootstrap/scss/bootstrap';

@mixin border-radius($top-left:null, $top-right:null, $bottom-right:null, $bottom-left:null){
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
       -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
        -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
            border-radius: $top-left $top-right $bottom-right $bottom-left;  
  }

#ProductCard{
    margin: auto;
    margin-top: 30px;
}

#ringImgId{
    height: 180px;
}
#addToCartBtn{
    position: absolute;
    right: 20px;
}
.accordionToggleButton{
    color: black;
}

#page-numbers {
    list-style: none;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border-radius(50px 50px 50px 50px) ;
}
.page-numbers-items {
    @include border-radius(50px 50px 50px 50px) ;
}

#page-numbers > li {
    margin-right: 0.3em;
    user-select: none;
    cursor: pointer;
    @include border-radius(50px 50px 50px 50px) ;
    border-radius:0px 15% 0px 0px
}

#centeredRowForPagination{
    margin: auto;
}




