@import '~bootstrap/scss/bootstrap';

@mixin border-radius($top-left:null, $top-right:null, $bottom-right:null, $bottom-left:null){
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
       -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
        -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
            border-radius: $top-left $top-right $bottom-right $bottom-left;  
  }

#ProductCard{
    margin: auto;
    margin-top: 30px;
}

#ringImgId{
    height: 180px;
}
#addToCartBtn{
    position: absolute;
    right: 20px;
}
.accordionToggleButton{
    color: black;
}

#page-numbers {
    list-style: none;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    @include border-radius(50px 50px 50px 50px) ;
}

.page-numbers-items {
    @include border-radius(50px 50px 50px 50px) ;
}

#page-numbers > li {
    margin-right: 0.3em;
    user-select: none;
    cursor: pointer;
    
}

#page-numbers > li > a{
    user-select: none;
    cursor: pointer;
    border-radius: 50% !important;
    width: 35px !important;
    height: 35px !important;
    margin: auto !important;
    justify-items: center !important; 
    text-align: center !important;
    align-items: center !important;
    color: #444;
    border-color: darkgray;
}

#centeredRowForPagination{
    margin: auto;
    position: relative;
}

.SelectOption {
    z-index: 999;
}

.SelectOption > option{
    z-index: 999;
}

#RowIdForCentering {
    position: relative;
}

#buyingComponent{
    position: absolute !important;
    z-index: 999 !important;
    width: 5000px !important;
}

